<div *ngIf="!loading">

  <input
    type="text"
    placeholder="Filter todo by title..."
    [(ngModel)]="searchString"
  >

  <ul *ngIf="todosService.todos.length; else noTodos">
    <li *ngFor="let todo of todosService.todos | todoFilter:searchString; let i = index">
    <span [class.done]="todo.completed">
      <input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
      <strong>{{i + 1}}</strong> {{todo.title}}
    </span>

      <small>{{todo.date | date: 'fullDate'}}</small>

      <button class="rm" (click)="removeTodo(todo.id)">&times;</button>
    </li>
  </ul>

  <ng-template #noTodos>
    <h3 style="text-align: center">No todos now!</h3>
  </ng-template>
</div>
<h4 *ngIf="loading" style="text-align: center">Loading...</h4>

